/* ==== GOOGLE FONTS ==== */
@import url("https://fonts.googleapis.com/css2?family=Spartan:wght@700&display=swap");

/* ==== VARIABLES CSS ==== */
:root {
  /* ========== Colors ========== */
  --bg-main: hsl(0, 0%, 90%);
  --bg-2: hsl(0, 5%, 81%);
  --bg-3: hsl(0, 0%, 93%);
  --key-color-1: hsl(45, 7%, 89%);
  --key-color-1-dark: hsl(35, 11%, 61%);
  --key-color-2: hsl(185, 42%, 37%);
  --key-color-2-dark: hsl(185, 58%, 25%);
  --key-color-3: hsl(25, 98%, 40%);
  --key-color-3-dark: hsl(25, 99%, 27%);
  --body-text-color: hsl(60, 10%, 19%);
  --key-text-color: hsl(60, 10%, 19%);
  --text-white: hsl(0, 0%, 100%);

  /* ========== Font and Typography ========== */
  --body-font: "Spartan", sans-serif;

  --bigger-font-size: 2.875rem;
  --big-font-size: 2rem;
  --normal-font-size: 1rem;
  --small-font-size: 0.75rem;

  /* ========== Font weight ========== */
  --font-bold: 700;

  /* ========== Margins ========== */
  --m-0-25: 0.25rem;
  --m-0-5: 0.5rem;
  --m-1: 1rem;
  --m-1-25: 1.25rem;
  --m-1-5: 1.5rem;
  --m-2: 2rem;
  --m-2-5: 2.5rem;
  --m-3: 3rem;
}

@media screen and (min-width: 576px) {
  :root {
    --normal-font-size: 1.25rem;
    --small-font-size: 0.8125rem;
  }
}

/* ========== BASE ========== */
*,
::before,
::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

/* ========== Variables Dark Theme ========== */
body.dark-theme {
  --bg-main: hsl(222, 26%, 31%);
  --bg-2: hsl(223, 31%, 20%);
  --bg-3: hsl(224, 36%, 15%);
  --key-color-1: hsl(30, 25%, 89%);
  --key-color-1-dark: hsl(28, 16%, 65%);
  --key-color-2: hsl(225, 21%, 49%);
  --key-color-2-dark: hsl(224, 28%, 35%);
  --key-color-3: hsl(6, 63%, 50%);
  --key-color-3-dark: hsl(6, 70%, 34%);
  --body-text-color: hsl(0, 0%, 100%);
  --key-text-color: hsl(221, 14%, 31%);
  --text-white: hsl(0, 0%, 100%);
}

/* ========== Button Dark/Light ========== */
/* .change-theme {
  position: absolute;
  right: 1.5rem;
  top: 2.2rem;
  display: flex;
  font-size: 2rem;
  cursor: pointer;
} */

body {
  font-family: var(--body-font);
  font-size: var(--big-font-size);
  font-weight: var(--font-bold);
  background-color: var(--bg-main);
  color: var(--body-text-color);
  line-height: 1.5;
  height: 90vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* ========== LAYOUT ========== */
#root {
  width: 100%;
}
.main {
  overflow: hidden;
}
/* 325px 1.5rem / 600px*/
.container {
  background-color: var(--bg-main);
  margin: auto;
  /* min-width: 325px; */
  max-width: 538px;
  width: calc(100% - 2rem);
}

.grid {
  display: grid;
  gap: 1.5rem;
}

/* ========== HEADER ========== */
header {
  margin-top: var(--m-1-5);
  margin-bottom: var(--m-1-5);
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

.theme__container {
  display: flex;
  align-items: center;
}

.bx-moon {
  font-size: 1.25rem;
  margin-left: var(--m-0-5);
}

.bx-sun {
  font-size: 1.5rem;
  margin-right: var(--m-0-5);
}

header h1 {
  color: var(--body-text-color);
  font-size: var(--big-font-size);
}

/* ========== INPUT ========== */
.input__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 5rem;
  background-color: var(--bg-3);
  padding: auto 1rem;
  border-radius: 0.75rem;
  margin-bottom: var(--m-1-5);
  position: relative;
}

.input__container span {
  display: block;
  width: 85%;
  text-align: right;
  position: absolute;
  opacity: 0.5;
  margin-top: 0.25rem;
  /* margin-right: 2.5rem; */
  font-size: var(--small-font-size);
}

.input__field {
  width: 85%;
  height: 2rem;
  margin: 1.5rem auto;
  text-align: right;
  font-size: var(--big-font-size);
  font-weight: var(--font-bold);
  background-color: var(--bg-3);
  color: var(--body-text-color);
  outline: none;
  border: none;
}

/* ========== BUTTONS ========== */
.btn {
  font-size: var(--big-font-size);
  font-weight: var(--font-bold);
  padding: 0.5rem;
  border: none;
  border-radius: 0.5rem;
}

.btn:active {
  transform: translateY(4px);
}

/* ========== KEYS ========== */
.key__background {
  background-color: var(--bg-2);
  border-radius: 0.75rem;
  padding: 1.5rem;
  gap: 1rem;
  grid-template-columns: repeat(4, 1fr);
}

.numkeys {
  background: var(--key-color-1);
  color: var(--key-text-color);
  box-shadow: 0 0.25rem var(--key-color-1-dark);
}

.numkeys:active {
  box-shadow: 0 1px var(--key-color-1-dark);
}

.textkeys {
  background: var(--key-color-2);
  color: var(--text-white);
  box-shadow: 0 0.25rem var(--key-color-2-dark);
  font-size: var(--normal-font-size);
}

.textkeys:active {
  box-shadow: 0 1px var(--key-color-2-dark);
}

.reset {
  padding: 1rem;
  grid-column: 1 / 3;
}

.equalkey {
  padding: 1rem;
  background: var(--key-color-3);
  color: var(--text-white);
  box-shadow: 0 0.25rem var(--key-color-3-dark);
  font-size: var(--normal-font-size);
  grid-column: 3 / 5;
}

.equalkey:active {
  box-shadow: 0 1px var(--key-color-3-dark);
}

/* ========== DECORATION ========== */

/* ========== ACCESSORIES ========== */

/* ========== SEND GIFT ========== */

/* ========== FOOTER ========== */

/* ========== MEDIA QUERIES ========== */

/* For full-screen images on small screens */
@media screen and (max-width: 359px) {
  .home__img,
  .share__img,
  .send__img {
    width: 100%;
  }
}

@media screen and (min-width: 576px) {
  .btn {
    padding: 0.75rem;
  }
  .key__background {
    /* background-color: var(--bg-2);
    border-radius: 0.75rem; */
    padding: 1.875rem;
    gap: 1.25rem;
    /* grid-template-columns: repeat(4, 1fr); */
  }
  .input__field {
    height: 2.5rem;
    font-size: var(--bigger-font-size);
  }
  .reset {
    padding: 1rem;
  }
}

@media screen and (min-width: 768px) {
}

@media screen and (min-width: 968px) {
}
